<!-- grid -->
.kol_8 {
    width: 1000px;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .kol_8 {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
}

.abadi-panel{
	box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.15);
    margin-bottom: 32px;
}
.abadi-panel-header{
	background-image: url("../images/core/mws-panel-header-bg.png");
    background-repeat: repeat-x;
    border-bottom: 2px solid #35353a;
    border-radius: 4px;
    font-size: 14px;
    height: 25px;
    padding: 12px 12px 10px;
    position: relative;
}
.abadi-panel-body{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fafafa;
    border-color: -moz-use-text-color #bcbcbc #bcbcbc;
    border-image: none;
    border-right: 1px solid #bcbcbc;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    margin: 0 2px;
    padding: 24px;
    position: relative;
}
.mws-form {
    clear: both;
    display: block;
    margin-bottom: 0;
}

.mws-form .mws-form-row:before, .mws-form .mws-form-row:after {
    content: "";
    display: table;
    line-height: 0;
}
.mws-form .mws-form-row:after {
    clear: both;
}
.mws-form .mws-form-row:before, .mws-form .mws-form-row:after {
    content: "";
    display: table;
    line-height: 0;
}
.mws-form .mws-form-row {
}
.mws-form .mws-form-row {
    padding: 18px 24px;
}
.mws-form .mws-form-inline .mws-form-label {
    float: left;
    padding-top: 5px;
    width: 140px;
}
.mws-form .mws-form-label {
    cursor: pointer;
    display: block;
    padding-bottom: 5px;
}
.mws-form .mws-form-inline .mws-form-item {
    margin-left: 156px;
}
.mws-form .mws-form-item {
    position: relative;
}
.mws-form .mws-form-item .large {
    width: 100%;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    background-color: #ffffff;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(128, 128, 128, 0.1) inset;
    box-sizing: border-box;
    color: #323232;
    line-height: 20px;
    margin: 0;
    min-height: 30px;
    outline: medium none;
    padding: 4px 6px;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
}

